<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <a href="/" class="header__logo logo">Logo</a>
        <nav class="header__menu main-menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About us</a></li>
            <li><a href="/">Contacts</a></li>
          </ul>
        </nav>
      </header>
      <main class="content">{% block content %}{% endblock %}</main>
      <footer class="footer">
        <ul class="footer__menu footer-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/">About us</a></li>
          <li><a href="/">Contacts</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
